<?xml version="1.0"?>
<robot name="my_robot">


  <!-- Base link -->
  <link name="base_link">
    <visual>
      <!-- Origin and orientation of the base link -->
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <!-- Geometry of the base link (a cylinder) -->
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
    </visual>
  </link>


  <link name="ruota">
    <visual>
      <!-- Origin and orientation of the base link -->
      <origin xyz="0.4 0 0" rpy="1.5708 0 0"/>
      <!-- Geometry of the base link (a cylinder) -->
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
    </visual>
  </link>
</robot>

