
<launch>
    <!-- Usa il tempo di simulazione -->
    <param name="/use_sim_time" value="true" />
	
	
    <node name="map_server" pkg="map_server" type="map_server" 
      args="$(find robot_project_pkg)/worlds/cappero_laser_odom_diag_2020-05-06-16-26-03.png 0.05"
      output="screen" />


          
    <!-- Avvia il simulatore Stage -->
    <node name="stageros" pkg="stage_ros" type="stageros" 
          args=" $(find robot_project_pkg)/worlds/cappero_laser_odom_diag_obstacle_2020-05-06-16-26-03.world" 
          output="screen">
        <param name="publish_scan" value="true" />
    </node>
     


     <!-- Avvia il nodo move_base per la navigazione -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <!-- Carica i parametri comuni del costmap -->
        <rosparam command="load" file="$(find robot_project_pkg)/config/costmap_common_params.yaml" ns="global_costmap" />
        <rosparam command="load" file="$(find robot_project_pkg)/config/costmap_common_params.yaml" ns="local_costmap" />

        <!-- Carica i parametri del costmap globale -->
        <rosparam command="load" file="$(find robot_project_pkg)/config/global_costmap_params.yaml"  />

        <!-- Carica i parametri del costmap locale -->
        <rosparam command="load" file="$(find robot_project_pkg)/config/local_costmap_params.yaml"  />

        <!-- Carica i parametri del planner locale -->
        <rosparam command="load" file="$(find robot_project_pkg)/config/base_local_planner_params.yaml" />
    </node>
   <!-- Avvia il nodo amcl per la localizzazione -->
<node pkg="amcl" type="amcl" name="amcl" output="screen">
  <!-- Remapping del topic del laser -->
  <remap from="scan" to="base_scan" />

  <!-- Tipo di modello di odometria -->
  <param name="odom_model_type" value="diff"/>

  <!-- Parametri del modello di odometria -->
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/>
  <param name="odom_alpha3" value="0.2"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="odom_alpha5" value="0.2"/>

  <!-- Frame di riferimento -->
  <param name="global_frame" value="map"/>
  <param name="odom_frame" value="odom"/>
  <param name="base_frame" value="base_link"/>

  <!-- Parametri personalizzati per AMCL -->
  <param name="min_particles" value="100"/>
  <param name="max_particles" value="500"/>

  <!-- Frequenze di aggiornamento -->
  <param name="update_min_d" value="0.1"/>  <!-- Minima distanza per aggiornamento -->
  <param name="update_min_a" value="0.1"/>  <!-- Minimo angolo ruotato per aggiornamento -->

  <!-- Intervallo di resampling -->
  <param name="resample_interval" value="2"/>  
</node>
    
        

    
      

    <!-- Avvia il visualizzatore della mappa -->
    <node name="Mapviewer" pkg="robot_project_pkg" type="Mapviewer" output="screen"/>

    <!-- Avvia il visualizzatore di ostacoli -->
    <node name="ObstacleVisualizer" pkg="robot_project_pkg" type="ObstacleVisualizer" output="screen"/>

    
    


    <!-- Avvia RViz con la configurazione specificata -->
    <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(find stage_ros)/rviz/stage.rviz" respawn="false" 
          output="screen"/>
</launch>
